.categories-select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.categories-select:focus {
  border-color: #28a745;
  outline: none;
}
